In [1]:
import cv2
import numpy as np
import scipy.misc
from skimage import color
import pandas as pd

china = pd.read_csv('../single_data.csv')
delhi = pd.read_csv('../delhi_data.csv')
china.tail()

,filename,datetime,dt_round,dt_round_2,ppm
2224,Beijing/2014_11_27_0732,201411270732,2014-11-27 07:32:00,2014-11-27 08:00:00,14.0
2225,Beijing/2014_12_27_0806,201412270806,2014-12-27 08:06:00,2014-12-27 08:00:00,182.0
2226,Beijing/2014_03_05_0710,201403050710,2014-03-05 07:10:00,2014-03-05 07:00:00,35.0
2227,Beijing/2014_03_18_0701,201403180701,2014-03-18 07:01:00,2014-03-18 07:00:00,20.0
2228,Beijing/2014_08_02_0623,201408020623,2014-08-02 06:23:00,2014-08-02 06:00:00,62.0

In [2]:
delhi.tail()

,filename,datetime,location,file_format,light/dark,dt_round,dt_round_2,ppm,class
2115,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.578462,1
2116,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.578462,1
2117,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.578462,1
2118,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.578462,1
2119,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.578462,1

In [20]:
from scipy.stats import spearmanr
from scipy.stats import pearsonr

def corr(data):
    per50 = []
    per75 = []
    per80 = []
    per90 = []
    permean = []
    permax = []
    ppm = []
    for index, row in data.iterrows():
        filename = '../img/'+row['filename']+'_trans.jpg' #_mod_trans.jpg
        #city = row['filename'][0]
        #if city == "B":
        trans = cv2.imread(filename,0)
        ppm.append(row['ppm'])
        per50.append(np.percentile(trans,50))
        per75.append(np.percentile(trans,75))
        per80.append(np.percentile(trans,80))
        per90.append(np.percentile(trans,90))
        permean.append(np.average(trans))
        permax.append(np.max(trans))
           
    print("corr median")
    print(pearsonr(ppm,per50))
    print(spearmanr(ppm,per50))
    print("corr 75th percentile")
    print(pearsonr(ppm,per75))
    print(spearmanr(ppm,per75))
    print("corr 80th percentile")
    print(pearsonr(ppm,per80))
    print(spearmanr(ppm,per80))
    print("corr 90th percentile")
    print(pearsonr(ppm,per90))
    print(spearmanr(ppm,per90))
    print("corr avg")
    print(pearsonr(ppm,permean))
    print(spearmanr(ppm,permean))
    print("corr max")
    print(pearsonr(ppm,permax))
    print(spearmanr(ppm,permax))

In [21]:
# Delhi
corr(delhi)

corr median
(-0.11386276757852759, 1.4670566898666607e-07)
SpearmanrResult(correlation=0.03082652543291661, pvalue=0.1559398679206713)
corr 75th percentile
(-0.16825717557314718, 6.278105875342049e-15)
SpearmanrResult(correlation=0.048666992760905754, pvalue=0.02503884935366974)
corr 80th percentile
(-0.18186581577692998, 3.193448248609182e-17)
SpearmanrResult(correlation=0.049342769283718606, pvalue=0.02308918594058971)
corr 90th percentile
(-0.18396759000204396, 1.35996951561155e-17)
SpearmanrResult(correlation=0.09177724537271584, pvalue=2.3143317264774634e-05)
corr avg
(-0.14769088325412727, 8.275497573421357e-12)
SpearmanrResult(correlation=-0.0096915242795334, pvalue=0.6556127172547259)
corr max
(-0.23487222076867223, 5.843164859567393e-28)
SpearmanrResult(correlation=-0.014021487099073394, pvalue=0.5187660288957747)

In [15]:
# Shanghai
corr(china)

corr median
(-0.4083782672387209, 1.6468156049309832e-77)
SpearmanrResult(correlation=-0.37731716512451574, pvalue=1.5360099394555317e-65)
corr 75th percentile
(-0.431767097527235, 2.1155636615879065e-87)
SpearmanrResult(correlation=-0.42995677144854205, pvalue=1.3159881706609201e-86)
corr 80th percentile
(-0.4912912817765419, 2.291591270579934e-116)
SpearmanrResult(correlation=-0.4797972829136115, pvalue=2.5649715673330847e-110)
corr 90th percentile
(-0.5257228289490876, 6.1970629977772104e-136)
SpearmanrResult(correlation=-0.48599949242075213, pvalue=1.4919110250742679e-113)
corr avg
(-0.2741366818617349, 3.3173335206629226e-34)
SpearmanrResult(correlation=-0.2296641436591752, pvalue=3.1130142162416685e-24)
corr max
(-0.4284962247309217, 5.704035526319288e-86)
SpearmanrResult(correlation=-0.3604972081981286, pvalue=1.3989760190429004e-59)

In [17]:
# Beijing
corr(china)

corr median
(-0.46850377684070244, 5.002728203836482e-19)
SpearmanrResult(correlation=-0.514326198256985, pvalue=3.288435058906368e-23)
corr 75th percentile
(-0.5093766990799333, 9.992086633697984e-23)
SpearmanrResult(correlation=-0.5633821315318626, pvalue=1.8986638685205335e-28)
corr 80th percentile
(-0.5574928238254043, 8.990221117768679e-28)
SpearmanrResult(correlation=-0.6002701450339739, pvalue=5.299190047344714e-33)
corr 90th percentile
(-0.5438683573292322, 2.921702480647366e-26)
SpearmanrResult(correlation=-0.5422067336765547, pvalue=4.41914466099742e-26)
corr avg
(-0.48707966378947715, 1.2000102896786572e-20)
SpearmanrResult(correlation=-0.5429724639377591, pvalue=3.6529997028476086e-26)
corr max
(-0.7080363037263668, 1.9862384803770938e-50)
SpearmanrResult(correlation=-0.6823720178679982, pvalue=1.352837153983098e-45)

In [19]:
# China (Beijing+Shanghai)
corr(china)

corr median
(-0.3290232846841938, 2.00215537359856e-57)
SpearmanrResult(correlation=-0.3574279018144701, pvalue=3.755286994953648e-68)
corr 75th percentile
(-0.30847437794935756, 2.4075189161453987e-50)
SpearmanrResult(correlation=-0.3825828366339784, pvalue=1.2976726608310507e-78)
corr 80th percentile
(-0.30458640275048726, 4.562790405901194e-49)
SpearmanrResult(correlation=-0.405939829455744, pvalue=3.465264085782245e-89)
corr 90th percentile
(-0.29945875029411523, 2.0640439285947785e-47)
SpearmanrResult(correlation=-0.3870834809955572, pvalue=1.3859566622418517e-80)
corr avg
(-0.23949517472556406, 1.908829278547907e-30)
SpearmanrResult(correlation=-0.22270891250320524, pvalue=1.887213322326404e-26)
corr max
(-0.2703010156959637, 1.271603849383121e-38)
SpearmanrResult(correlation=-0.232350886097516, pvalue=1.0471206119338061e-28)